
@{
    ViewBag.Title = "Client Page";
}

<h2>Client Private Page</h2>
<h3>@ViewBag.Message</h3>
<p>Welcome to your Page</p>


<p><a href="~/FuelQuote/Generate" class="btn btn-primary btn-lg">Fuel Quote Form &raquo;</a></p>
<p><a href="~/FuelQuote/History" class="btn btn-primary btn-lg">Fuel Quote History &raquo;</a></p>


