@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2><br /><br/>
<!--<h3>@ViewBag.Message</h3>-->

<p>Single Account Can Simplified Management</p>
<p>
    Think of your account as your home page to view your oil request status and history
    for most of the applications that you have filed with our company.
</p>
<p>
    Creating an account is free and allows you to easily save your information and view your profile.
</p>
<p><a class="btn btn-default" href="~/Home/Index">Go back to Home &raquo;</a></p>