@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<br />
<br />
<!--<h3>@ViewBag.Message</h3>-->

<address>
    University Of Houston<br />
    4800 Calhoun Rd, Houston, TX 77004<br />
    <abbr title="Phone">Phone:</abbr>
    (713)743-2255
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
<p><a class="btn btn-default" href="~/Home/Index">Go back to Home &raquo;</a></p>