@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ZEA Petroleum & Chemical Corp</h1>
    <p class="lead">Sign Up to our website for free.</p>
    <p><a href="~/ClientRegistration/SignUp" class="btn btn-primary btn-lg">Sign Up &raquo;</a></p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Our Website gives you a powerful tool to access your data anytime from anywhere.
        </p><br />
        <p><a class="btn btn-default" href="~/ClientRegistration/SignUp">Register Your Account &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Going to your profile</h2>
        <p>Login to your Profile</p><br/>
        <p><a class="btn btn-default" href="~/Login/Login">Login To Your Account &raquo;</a></p>
    </div>
    <!--<div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>-->
</div>